

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
#root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gradient{
    background-color: hsl(176, 68%, 64%);
}

